.choosechar-container {
  text-align: center;
  padding: 20px;
  position: relative;
  height: 100vh; 
  background-color: #ffffff;
  color: #F8EDED;
  overflow: hidden; 
}

.carousel {
  width: 95%; 
  max-width: 1000px; 
  margin: auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.carousel-inner {
  position: relative;
}

.carousel-item {
  height: 65vh;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.5s ease-in-out; 
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5); 
  color: #ffffff; 
  padding: 10px 20px;
  border-radius: 5px;
}

.carousel-control-prev, .carousel-control-next {
  width: 40px;
  height: 40px; 
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.3); 
  border-radius: 50%; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  display: flex; 
  align-items: center;
  justify-content: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-size: 50%; 
  background-repeat: no-repeat;
  filter: invert(1); 
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background: rgba(0, 0, 0, 0.5); 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); 
}

.carousel-indicators {
  bottom: 10px; 
}

.carousel-indicators li {
  background-color: #FF8225;
  border-radius: 50%; 
}

.carousel-indicators .active {
  background-color: #ffffff;
}

.carousel-indicators {
  display: none; 
}

.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #FF8225;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.fixed-button:hover, .fixed-button:focus {
  background-color: #E06E1F;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  outline: none;
}

.fixed-button:active {
  background-color: #C05A1A;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1);
}

.icons-container {
  display: flex;
  justify-content: space-around;
  width: 70%; /* Adjust width to fit content */
  margin: 20px auto;
  color: #FF8225;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F8EDED;
}

.icon-text {
  margin-top: 10px;
  font-size: 16px;
  color: #F8EDED;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

h5 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
