.main-container {
  text-align: center;
  padding: 20px;
}

.sections-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 20px;
  border-radius: 3px;
}
.card-img-top {
  height: 200px; 
  
}

.card-button {
  border: none;
  padding: 5px 15px;
  font-size: 18px;
  color: #173B45;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #F73B45;
}


h4, h1 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

