.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  background-color:aliceblue

}

.Herofit {
  font-size: 1.5em;
  font-weight: bold;
  color:black
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1em;
}

a {
  color:black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}